body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

/*HEADINGS*/

#header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
}

/*PARAGRAPHS*/

p {
    font-size: 21px;
    color: gray;
}

/*LINKS*/

.app--links {
    color: aquamarine;
    font-size: 16px;
}

/*FOOTER*/

#copyright {
    text-align: right;
}